:root {
    --header-color:#FFFFFF;
    --main-title-color:#FFFFFF;
    --second-title-color:#303030;
    --main-btn-color:#FFFFFF;
    --second-btn-color:#303030;
    --accent-color:#FF6C00;
    --tipical-margin-btn:20px;
    --background-page-color:#F7F7F7;

}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

 ul,ol{
     padding-left: 0;
     margin-top: 0;
     margin-bottom: 0;
} 
button {
    cursor: pointer;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}
body{
    font-family:"Open Sans", Tahoma, sans-serif;
}

.link{
    text-decoration: none;
}  
.list {
    list-style: none;
} 
/* -------------------COMPONENTS-------------------- */
.section {
    padding-top: 130px;
    padding: 130px;
}

.subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-title-color)
}






/* -------------------/COMPONENTS-------------------- */

/* -------------------HEADER-------------------- */
.header {
    background-color: gray;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-logo {
    margin-right: 70px;
}
.header-items:not(:last-child)  {
    margin-right: 40px;
}
.header-list {
    display: flex;
}
.header .conteiner {
    display: flex;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color:var(--header-color);
}
.header-link:hover,
.header-link:focus {
    color:var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
    margin-right: 60px;
}

.btn {
    font-family: "Open Sans", Tahoma, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;
}
.header-btn {
    font-family: "Open Sans", Tahoma, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color:var(--main-btn-color);
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;
}
.header-btn:hover,
.header-btn:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}


/* -------------------HERO-------------------- */
.hero .conteiner {
    display: flex;
}
.hero-list {
    width: 93px;
}

.hero-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}
.hero-link:hover,
.hero-link:focus {
    color: #FF6C00;
}
.hero-top-text {
    margin-bottom: var(--tipical-margin-btn);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}
.hero-title {
    font-family: 'Raleway', Tahoma,sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: var(--tipical-margin-btn);
}
.bottom-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1,67;
    letter-spacing: 0.02em
}
.hero-bottom-text {
    color: #9DA4BD;
    max-width: 400px;
}
.hero-content {
    background-color:#303030 ;
    padding: 272px 0 206px 96px;
    flex-grow: 1;
}
/* -------------------ABOUT-------------------- */
.about {
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-top-text {
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin-btn);
}
.about-list {
    display: flex;  
}
.about-title {
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin-btn);
}

.about-bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: var(--tipical-margin-btn);
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
}

.about-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--second-btn-color);
}
/* -------------------PRICES-------------------- */
.price {
    background-color: #303030;
}
.price-top-text {
    color: #9da4bd99;
    padding-top: 130px;
    margin-bottom: var(--tipical-margin-btn);
}

.price-title {
    color: var(--main-title-color);
    
}

.price-item-text {
    font-size: 18px;
    line-height: 1.66;
    text-align: left;
    letter-spacing: 0.02em;  
    color: #9DA4BD;
}

.price-btn {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-btn-color);
}
/* -------------------ACHIEVEMENT-------------------- */
.achievement {}

.achiev-price {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
}

.achiev-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--second-title-color);
}

.achiev-top-text {
}

.achiev-title {
}

.achiev-bottom-text {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}
/* ==========================MASTERS===================== */
.masters {
    background-color:var(--background-page-color) ;
}
.master-top-text {
    color: var(--second-title-color);
}
.master-title {
}
.master-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--second-title-color);
}
.master-prof {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}
.masters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ==========================/MASTERS===================== */

/* ==========================GALLARY===================== */
.gallary-subtitle {
    margin-bottom: 44px;

}
.process-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

