:root {
    --header-color:#FFFFFF;
    --main-title-color:#FFFFFF;
    --second-title-color:#303030;
    --main-btn-color:#FFFFFF;
    --second-btn-color:#303030;
    --accent-color:#FF6C00;
    --tipical-margin-btn:20px
}

 p,h1,h2,h3,h4,h5,h6 {
     margin: 0;
 }
 ul,ol{
     padding-left: 0;
     margin: 0;
 } 

.conteiner {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: auto;
outline: 1px solid red;
}
.body{
    font-family:"Open Sans", Tahoma, sans-serif;
}

.link{
    text-decoration: none;
}  
.list {
    list-style: none;
} 
/* -------------------HEADER-------------------- */
.header {
    background-color: gray;
    padding-top: 32px;
}
.header-logo {
    margin-right: 70px;
}
.header-items:not(:last-child)  {
    margin-right: 40px;
}
.header-list {
    display: flex;
}
.header .conteiner{
    display: flex;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color:var(--header-color);
}
.header-link:hover,
.header-link:focus {
    color:var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
}

.cursor {
    cursor: pointer;
}
.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-style: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
    border-radius: 25px;
}
.header-btn {
    font-family:inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color:var(--main-btn-color);
}
.header-btn:hover {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}


/* -------------------HERO-------------------- */
.hero .conteiner {
display: flex;
}
.hero-list {
    width: 93px;
}

.hero-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}
.hero-link:hover,
.hero-link:focus {
    color: #FF6C00;
}
.hero-top-text {
    margin-bottom: var(--tipical-margin-btn);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}
.hero-title {
    font-family: 'Raleway', Tahoma,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: var(--tipical-margin-btn);
}
.bottom-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1,67;
    letter-spacing: 0.02em
}
.hero-bottom-text {
    color: #9DA4BD;
    max-width: 400px;
}
.hero-content {
    background-color:#303030 ;
    padding: 272px 0 206px 96px;
    flex-grow: 1;
}
/* -------------------ABOUT-------------------- */
.about {
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin-btn);
}
.about-list {
    display: flex;  
}
.about-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin-btn);
}

.about-bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: var(--tipical-margin-btn);
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
}

.about-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--second-btn-color);
}
/* -------------------PRICES-------------------- */
.price {
    background-color: #303030;
}
.price-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
    color: #9da4bd99;
    padding-top: 130px;
    margin-bottom: var(--tipical-margin-btn);
}

.price-title {
    font-family: 'Raleway',Tahoma,sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    
}

.price-item-text {
    font-size: 18px;
    line-height: 1.66;
    text-align: left;
    letter-spacing: 0.02em;  
    color: #9DA4BD;
}

.price-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-btn-color);
}
/* -------------------ACHIEVEMENT-------------------- */
.achievement {}

.achiev-price {
    font-family:'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
}

.achiev-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--second-title-color);
}

.achiev-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.achiev-title {
    font-family: 'Raleway',Tahoma,sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
}

.achiev-bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}
